.draw-area {
    max-width: 600px;
    max-height: 600px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    position: relative;
    /* display: grid;
    grid-template-columns: repeat(600, 1fr);
    grid-template-rows: repeat(600, 1fr); */
}

.shape {
    position: absolute;
    cursor: pointer;
}

.rectangle {
    background-color: green;
}

.square {
    background-color: red;
}

.circle {
    background-color: purple;
}

.triangle {
    background-color: yellow;
}